* {
    font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font", sans-serif;
    font-size: 12px;
}

#window {
    background-color: #141f1b;
    color: #cdd6f4;
    border: 2px solid #89b4fa;
    border-radius: 6px;
}

#outer-box {
    padding: 20px;
}

#input {
    background-color: #213933;
    border: 2px solid #293f45;
    padding: 8px 12px;
    border-radius: 4px;
}

#scroll {
    margin-top: 20px;
}

#text {
    color: #cdd6f4;
}

#text:selected {
    color: #1e1e2e;
}

#entry {
    padding: 6px;
}

#entry:selected {
    background-color: #1d602b;
    color: #1e1e2e;
    border-radius: 4px;
}
